.bloglist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:"20px";

    .innerDiv{
         display: flex;
        flex-direction: column; 
         align-items: center;
         gap: 20px;
    }

    button{
        width: 500px;

    }
}     